/* container */
body {
    width: 100%;
    background-color: floralwhite;
    margin: 0;
}

#container {
    width: 500px;
    margin: 0 auto;
}

/* puzzle */
#puzzle_div {
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    position: relative;
}

#celebrate {
    width: 100%;
    height: 100%;
    background: url("../img/celebrate.gif") no-repeat;
    background-size: cover;
    z-index: 999;
    position: fixed;
    pointer-events: none;
}

/* puzzle controls */
/* puzzle controls general */
#puzzle_controls {
    width: 100%;
}
#puzzle_controls > div {
    border: 0.1em solid black;
    text-align: center;
    padding: 0.5em 0;
    margin: 0.3em 0;
    cursor: pointer;
}
#puzzle_controls > div > label {
    cursor: pointer;
}
#puzzle_controls input[type="file"], #puzzle_controls button {
    display: none;
}
/* puzzle controls special */
div#puzzle_dimension_options_div {
    cursor: auto;
}
#puzzle_dimension_options_div > input {
    width: 4em;
}

/* footer */
footer a {
    color: inherit;
}
